__pycache__/
*.py[cod]
*.egg-info/
.build/
.dist/

# Virtual environments
.venv/
spot-env-christian/

# Credentials and secrets (NEVER COMMIT THESE)
.env
.env.*
*credentials*
*secrets*
Activate.ps1

# VSCode settings
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

# Dependencies
spot-sdk/

# Tests
test/
